@import '../../common.scss';

@media print {
  .weekTableStyle {
    margin: 0px !important;
  }
}


.weekTableStyle {
  display: flex;
  flex-direction: row;
  margin: 10px;
  box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.2);
  border: 1px solid $borderColor;
  border-radius: 5px;
  overflow: hidden;
}

.columnStyle {
  @include flexContainer(column, flex-start, flex-start, flex-start);
  flex: 1 1 0px;
  border-right: 1px solid $borderColor;
  &:last-child {
    border-right: none;
  }
}

.columnHeaderStyle {
  border-bottom: 1px solid $borderColor;
  background-color: $headerColor;
  font-weight: 700;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}